:root {
  /* COLOR VARIABLES */
  --white: #e8e7e4;
  --white-light: #f2f1ee;
  --white-dark: #d7d6d2;

  --lightgreen: #0a7273;
  --lightgreen-light: #3c9e9e;
  --lightgreen-dark: #005858;

  --orange: #f17c12;
  --orange-light: #ffa42a;
  --orange-dark: #cc6c0a;

  --darkblue: #002436;
  --darkblue-light: #4c5c6e;
  --darkblue-dark: #001929;

  --dark: #252525;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;
  --spacing-xxl: 48px;
}
