:root {
    --white: #E8E7E4;
    --white-light: #F2F1EE;
    --white-dark: #D7D6D2;
    
    --lightgreen: #0A7273;
    --lightgreen-light: #3C9E9E;
    --lightgreen-dark: #005858;
    
    --orange: #F17C12;
    --orange-light: #FFA42A;
    --orange-dark: #CC6C0A;
    
    --darkblue: #002436;
    --darkblue-light: #4C5C6E;
    --darkblue-dark: #001929;
}